@import url(lower.css);
@import url("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css");

.hero {
  padding-bottom: 0;
  h1 {
    text-transform: capitalize;
    letter-spacing: normal;
  }
  img {
    opacity: 0.9;
  }
}
.items {
  padding-block: max(5vw, 50px) max(10vw, 80px);
  section {
    display: flex;
    align-items: center;
    gap: max(5vw, 30px);
    &:nth-child(even) .image {
      order: 1;
    }
    .image {
      width: 50%;
      img {
        aspect-ratio: 4/3;
        width: 100%;
        object-fit: cover;
      }
    }
    .body {
      flex: 1;
      line-height: 1.8;
    }
    hgroup {
      margin-bottom: 2rem;
    }
    .flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 0.5rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid #333;
    }
    h2 {
      font-size: max(1.8vw, 1.4em);
      font-weight: 500;
      margin-bottom: 0;
    }
    h2:not(.flex h2) {
      padding-bottom: 0.5rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid #333;
    }
    .try {
      color: #000;
      display: flex;
      align-items: center;
      gap: 0.4em;
      border: 1px solid;
      padding: 0.2em 1em;
      border-radius: 2em;
      position: relative;
      overflow: auto;
      transition: color 0.5s;
      > * {
        position: relative;
      }
      i {
        font-size: 24px;
      }
      &::before {
        position: absolute;
        content: "";
        inset: 0;
        background: linear-gradient(120deg, #fff, var(--primary-c));
        transition: opacity 0.5s;
      }
      &:hover {
        color: var(--secondary-c);
        &::before {
          opacity: 0;
        }
      }
    }
    .price {
      text-align: right;
    }
    .track-list {
      margin-top: 1em;
      background-color: #222;
      padding: 0.8em 1.6em;
      counter-reset: num 0;
      li {
        counter-increment: num 1;
        padding-left: 1.6em;
        position: relative;
        span {
          display: inline-block;
        }
      }
      li::before {
        position: absolute;
        inset: 0 auto auto 0;
        content: counter(num) ".";
      }
    }
  }
}

.slick-dots li {
  margin-inline: 1em;
}
.slick-dots li button:before {
  font-size: 26px;
  color: #fff;
  top: 1em;
  transition: opacity 0.5s;
}
.slick-dots li.slick-active button:before {
  color: #fff;
}

@media (width < 1024px) {
  .items {
    section {
      width: min(100%, 600px);
      margin-inline: auto;
      flex-direction: column;
      align-items: stretch;
      &:nth-child(even) .image {
        order: 0;
      }
      .image {
        width: 100%;
      }
    }
  }
}

@media (width < 768px) {
  .items {
    .cd {
      padding-top: 0;
    }
  }
  .slick-dots li button:before {
    font-size: 18px;
    color: #fff;
    top: 1em;
    transition: opacity 0.5s;
  }
}
